@using BeautySalonService.ViewModels
@model ProfileViewModel

@{
	ViewData["Title"] = "Profile";
}

<section class="bgImg">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 col-sm-11">
				<div class="text-center my-5">
					<a href="@Url.Action("Home", "Home")">
						<img src="~/IdentityFront/img/logo.png" alt="logo" width="100">
					</a>
				</div>
				<div class="card shadow-lg">
					<div class="card-body p-5 formCard">
						<h1 class="fs-4 card-title fw-bold mb-4">Profile Settings</h1>
						<form method="POST" asp-action="EditProfile" asp-controller="Identity" class="needs-validation" novalidate="" autocomplete="off">
							<div class="d-flex flex-row justify-content-around">
								<div>
									<label class="mt-2 text-muted"for="id">Id </label>
									<input id="Id" type="text" class="form-control nameInp" readonly name="id" value="@Model.Id" required autofocus>
								</div>
								<div>
									<label class="mt-2 text-muted d-inline-block">Role</label>
									<input id="Role" type="text" class="form-control surInp" disabled value="@Model.RoleName" required autofocus>
								</div>
							</div>

							<div class="d-flex flex-row justify-content-around">
								<div>
									<label class="mt-2 text-muted" for="name">Name </label>
									<input id="name" type="text" class="form-control nameInp" name="name" value="@Model.Name" required autofocus>
								</div>
								<div>
									<label class="mt-2 text-muted" for="surname">Surname</label>
									<input id="surname" type="text" class="form-control surInp" name="surename" value="@Model.SureName" required autofocus>
								</div>
							</div>

							<div class="d-flex flex-row justify-content-around">
								<div>
									<label class="mt-2 text-muted" for="email">E-Mail </label>
									<input id="email" type="email" class="form-control nameInp" name="email" value="@Model.Email" required autofocus>
								</div>
								<div>
									<label class="mt-2 text-muted" for="mobileNumber">Mobile Number</label>
									<input id="mobileNumber" type="tel" class="form-control surInp" name="mobileNumber" value="@Model.MobileNumber" pattern="[0-9]{3}[0-9]{2}[0-9]{2}[0-9]{2}" autofocus>
								</div>
							</div>
														
							<div class="d-flex justify-content-center">
								<button type="submit" class="identityButton btn btn-primary">
									Save
								</button>
								<button type="button" onclick="window.location= '@Url.Action("ResetPassword", "Identity")'" class="identityButton btn btn-primary">
									Change Password
								</button>
							</div>
						</form>
					</div>
					<div class="card-footer py-3 border-0">
						<div class="text-center">
							<p>Back to <a href="@Url.Action("Home", "Home")" class="text-dark">Home</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="~IdentityFront/js/login.js"></script>